<template>
    <v-app>
        <v-app-bar color="primary" dark style="max-height: 64px;">
            <v-img dark src="../../images/logotest.png"  max-height="70" max-width="230" >
                <v-row
                    align="center"
                    justify="center"
                >
                    <v-col
                        class="text-center"
                        cols="12"
                    >

                    </v-col>
                </v-row>
            </v-img>

            <v-spacer></v-spacer>

            <v-menu left bottom>
                <template v-slot:activator="{ on, attrs }">
                    <v-btn icon v-bind="attrs" v-on="on">
                        <v-icon>mdi-dots-vertical</v-icon>
                    </v-btn>
                </template>

                <v-list v-if="user == null">
                    <v-list-item>
                        <v-list-item-title>
                            <a href="/login">Iniciar Sesión</a>
                        </v-list-item-title>
                    </v-list-item>
                    <v-list-item>
                        <v-list-item-title>
                            <a href="/register">Registrarse</a>
                        </v-list-item-title>
                    </v-list-item>
                </v-list>
                <v-list v-else>
                    <v-list-item>
                        <v-list-item-title>
                            <inertia-link href="/dashboard">Dashboard</inertia-link>
                        </v-list-item-title>
                    </v-list-item>
                    <v-list-item>
                        <v-list-item-title>
                            <form @submit.prevent="logout">
                                <jet-dropdown-link as="button">
                                    Salir
                                </jet-dropdown-link>
                            </form>
                        </v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-menu>
        </v-app-bar>
        
        <v-main>
            <v-app-bar color="#CBEFB6" dark style="max-height: 64px;" height="200"> 
            </v-app-bar>
            <v-container >
                <v-row>
                    <v-col>
                        <h1 style="font-size: 25px;">Aprende algebra de una manera fácil.</h1>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="4">
                        <v-card
                            class="mx-auto"
                            
                        >
                            <v-img
                                src="../../images/imagetest.jpg"
                                height="200px"
                            ></v-img>

                            <v-card-title>
                                Temas de Algebra
                            </v-card-title>

                            <v-card-subtitle>
                                5 puntos escenciales
                            </v-card-subtitle>

                           <template>
                                <div class="text-left">
                                    <v-dialog
                                        v-model="dialog"
                                        width="500"
                                    >
                                        <template v-slot:activator="{ on, attrs }">
                                            <v-btn
                                                color="#118509"
                                                text
                                                v-bind="attrs"
                                                v-on="on"
                                                
                                            >
                                                Ver
                                            </v-btn>
                                        </template>

                                        <v-card>
                                            <v-card-title class="text-h5 grey lighten-2">
                                                Temas de Algebra
                                            </v-card-title>

                                            <v-card-text>
                                                1) Teoría de exponentes. <br>
                                                2) Ecuaciones exponenciales. <br>
                                                3) Polinomios. <br>
                                                4) Productos notables. <br>
                                                5) División algebraica. <br>
                                            </v-card-text>

                                            <v-divider></v-divider>
                                        </v-card>
                                    </v-dialog>
                                </div>
                            </template>

                            <v-expand-transition>
                                <div v-show="show">
                                    <v-divider></v-divider>

                                    <v-card-text>
                                        I'm a thing. But, like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're going to do his laundry? I've got to find a way to escape.
                                    </v-card-text>
                                </div>
                            </v-expand-transition>
                        </v-card>
                    </v-col>

                    <v-col cols="4">
                        <v-card
                            class="mx-auto"
                        >
                            <v-img
                                src="../../images/imagetest3.jpg"
                                height="200px"
                            ></v-img>

                            <v-card-title>
                                Tips para solucion
                            </v-card-title>

                            <v-card-subtitle>
                                5 puntos escenciales
                            </v-card-subtitle>

                            <template>
                                <div class="text-left">
                                    <v-dialog
                                        v-model="dialog"
                                        width="500"
                                    >
                                        <template v-slot:activator="{ on, attrs }">
                                            <v-btn
                                                color="#118509"
                                                text
                                                v-bind="attrs"
                                                v-on="on"
                                            >
                                                Ver
                                            </v-btn>
                                        </template>

                                        <v-card>
                                            <v-card-title class="text-h5 grey lighten-2">
                                                Tips para solucion
                                            </v-card-title>

                                            <v-card-text>
                                                1) Determina si tienes un polinomio lineal. <br>
                                                2) Iguala la ecuación a cero. <br>
                                                3) Despeja la variable del término. <br>
                                                4) Resuelve la variable. <br>
                                                5) Listo. <br>
                                            </v-card-text>

                                            <v-divider></v-divider>
                                        </v-card>
                                    </v-dialog>
                                </div>
                            </template>

                            <v-expand-transition>
                                <div v-show="show">
                                    <v-divider></v-divider>

                                    <v-card-text>
                                        I'm a thing. But, like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're going to do his laundry? I've got to find a way to escape.
                                    </v-card-text>
                                </div>
                            </v-expand-transition>
                        </v-card>
                    </v-col>

                    <v-col cols="4">
                        <v-card
                            class="mx-auto"
                        >
                            <v-img
                                src="../../images/imagetest4.jpg"
                                height="200px"
                            ></v-img>

                            <v-card-title>
                                Ejemplos de ejercicios
                            </v-card-title>

                            <v-card-subtitle>
                                10 puntos escenciales
                            </v-card-subtitle>

                            <template>
                                <div class="text-left">
                                    <v-dialog
                                        v-model="dialog"
                                        width="500"
                                    >
                                        <template v-slot:activator="{ on, attrs }">
                                            <v-btn
                                                color="#118509"
                                                text
                                                v-bind="attrs"
                                                v-on="on"
                                            >
                                                Ver
                                            </v-btn>
                                        </template>

                                        <v-card>
                                            <v-card-title class="text-h5 grey lighten-2">
                                                Ejemplos de ejercicios
                                            </v-card-title>

                                            <v-card-text>
                                                Resolver los siguientes problemas <br>
                                                1) 5 · (x – 2) = 5x–10 <br>
                                                2) 15. – 2 · (3x – 9) = –6x+18. <br>
                                                3) 9 · (6x – 5) = 54x–45. <br>
                                                4) x · (x – 2) = x2 –2x. <br>
                                                5) 18. – 2x · (3x – 9) = 6x2 +18x. <br>
                                            </v-card-text>

                                            <v-divider></v-divider>
                                        </v-card>
                                    </v-dialog>
                                </div>
                            </template>

                            <v-expand-transition>
                                <div v-show="show">
                                    <v-divider></v-divider>

                                    <v-card-text>
                                        I'm a thing. But, like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're going to do his laundry? I've got to find a way to escape.
                                    </v-card-text>
                                </div>
                            </v-expand-transition>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
    import JetDropdownLink from "@/Jetstream/DropdownLink";

    export default {
        name: "HomeComponent",
        components:{
            JetDropdownLink,
        },
        props: {
            temas: Array,
            user: Object
        },
        data: () => {
            return {
                temas_list: []
            }
        },
        mounted() {
            console.log(this.temas);
            console.log(this.user);
        },
         methods: {
             logout() {
                 axios.post(route('logout').url()).then( response => {
                     window.location = '/';
                 })
             },
         }
    }
</script>

<style scoped>

</style>
