<template>
    <v-dialog
        v-model="dialog"
        persistent
        max-width="600px"
    >
        <v-card>
            <v-card-title>
                <span class="headline">Crear Rol</span>
            </v-card-title>
            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col cols="12" sm="12" md="12">
                            <v-text-field
                                v-model="name"
                                label="Nombre"
                                required
                                hint="Nombre del rol a crear."
                            ></v-text-field>
                        </v-col>
                    </v-row>
                </v-container>
                <small>*campos requeridos</small>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="dialog = false">
                    Cancelar
                </v-btn>
                <v-btn color="blue darken-1" text @click="createRol">
                    Guardar
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import {EventBus} from "@/app";
    export default {
        name: "AddRolesComponent",
        data: () => ({
            dialog: false,
            name: ''
        }),
        mounted() {
            EventBus.$on('open-add-roles', (data) => {
                this.dialog = true;
            });
        },
        methods: {
            createRol(){
                let data = {
                    name: this.name
                };
                axios.post('/admin/role', data)
                .then( (res) => {
                    console.log(res);
                    if( res.status === 200 ){
                        EventBus.$emit('role-added');
                        this.dialog = false;
                    } else if( res.status === 400 ) {
                        console.log(res);

                    }
                }).catch( (error) => {
                    console.log(error);
                });
            }
        }
    }
</script>

<style scoped>

</style>
