<template>
    <v-card>
        <v-card-title>
            Lista de Roles
            <v-spacer></v-spacer>
            <v-text-field
                class="mr-2"
                v-model="search"
                append-icon="mdi-magnify"
                label="Buscar"
                single-line
                hide-details
            ></v-text-field>
            <v-btn class="mx-2" fab dark small color="primary" @click="openAddRole">
                <v-icon dark>
                    mdi-plus
                </v-icon>
            </v-btn>
        </v-card-title>
        <v-data-table
            :headers="headers"
            :items="roles"
            :search="search"
            :loading="loader"
        >
        </v-data-table>
        <add-roles-component></add-roles-component>
        <v-alert
            :value="alert"
            color="green"
            dark
            border="top"
            icon="mdi-check"
            transition="scale-transition"
            dismissible
        >
            {{alertMessage}}
        </v-alert>
    </v-card>
</template>

<script>
    import AddRolesComponent from "@/Pages/Admin/users/roles/AddRolesComponent";
    import {EventBus} from "@/app";

    export default {
        name: "RolesComponent",
        components: {AddRolesComponent},
        data : () => {
            return {
                headers: [
                    {text: 'Id', value: 'id'},
                    {text: 'Nombre', value: 'name'},
                    {text: 'Creado', value: 'created_at'},
                    {text: 'Actualizado', value: 'updated_at'}
                ],
                roles: [],
                search: '',
                loader: true,
                alert: false,
                alertMessage: ''
            }
        },
        mounted() {
            EventBus.$on('role-added', (data) => {
                this.loadRoles();
                EventBus.$emit('show-alert', {
                    alert : true,
                    message: 'Se ha creado el Rol',
                    color: 'green',
                    icon: 'mdi-check',
                });
            });
            this.loadRoles();
        },
        methods: {
            loadRoles(){
                let url = '/admin/roles';
                axios.get(url)
                .then( (res) => {
                    console.log(res.data.data);
                    this.roles = res.data.data;
                    this.loader = false;
                }).catch( error => {

                });
            },
            openAddRole(){
                EventBus.$emit('open-add-roles')
            }
        }
    }
</script>

<style scoped>

</style>
