<template>
    <v-dialog v-model="dialog" width="500">
        <v-card>
            <v-card-title>
                Crear categoría de una Materia
            </v-card-title>
            <v-card-text>
                <v-row>
                    <v-col>
                        <v-form v-model="validForm" lazy-validation ref="form">
                            <v-container>
                                <v-row>
                                    <v-text-field label="Nombre" v-model="category.name"></v-text-field>
                                </v-row>
                                <v-row justify="center">
                                    <v-btn text color="primary" @click="storeCategory" :disabled="!validForm">GUARDAR</v-btn>
                                </v-row>
                            </v-container>
                        </v-form>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-simple-table>
                            <template v-slot:default>
                                <thead>
                                <tr>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Acciones
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="item in categories" :key="item.name">
                                    <td>
                                        {{ item.name }}
                                    </td>
                                    <td>
                                        <v-icon small class="mr-2">
                                            mdi-pencil
                                        </v-icon>
                                        <!--                </inertia-link>-->
                                        <v-icon small class="mr-2">
                                            mdi-delete
                                        </v-icon>
                                    </td>
                                </tr>
                                </tbody>
                            </template>
                        </v-simple-table>
                    </v-col>
                </v-row>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
    import {EventBus} from "@/app";

    export default {
        props:{
            categories: Array
        },
        name: "CreateCategoryComponent",
        data: () => ({
            validForm: true,
           dialog: false,
            category: {
                name: ''
            }
        }),
        mounted() {
            EventBus.$on('subject-create-category', data => {
                this.dialog = true;
            });
        },
        methods: {
            storeCategory(){
                let url = '/admin/category';
                if( this.$refs.form.validate() ){
                    axios.post(url, this.category)
                    .then( res => {
                        //this.loadCategory();
                        EventBus.$emit('subject-reload-categories');
                        this.dialog = false;
                    })
                    .catch( e => {
                        console.log(JSON.stringify(e));
                        alert(JSON.stringify(e));
                    })
                }
            },
        }
    }
</script>

<style scoped>

</style>
