<template>
    <v-alert
        :value="alert"
        :color="color"
        dark
        border="top"
        :icon="icon"
        transition="scale-transition"
        dismissible
    >
        {{alertMessage}}
    </v-alert>
</template>

<script>
    export default {
        name: "AlertDeportesComponent",
        props: {
            alert: Boolean,
            color: String,
            icon: String,
            alertMessage: String
        }
    }
</script>

<style scoped>

</style>
