<template>
    <app-layout>
        <v-app>
            <v-app-bar color="#CBEFB6" dark style="max-height: 64px;"></v-app-bar>
            <v-container>
                <v-progress-linear
                    indeterminate
                    color="green"
                    v-if="seen"
                ></v-progress-linear>
                <v-row>
                    <v-col cols="4">
                        <v-card>
                            <v-img contain height="150" src="../../images/usuarios.jpg" ></v-img>
                            <v-card-title>
                                Usuarios
                            </v-card-title>
                            <v-card-actions>
                                <v-btn text>
                                    <inertia-link :href="route('admin.users.index')">Ver</inertia-link>
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                    <v-col cols="4">
                        <v-card>
                            <v-img contain height="150" src="../../images/imagetest3.jpg" ></v-img>
                            <v-card-title>
                                Materias
                            </v-card-title>
                            <v-card-actions>
                                <v-btn text>
                                    <inertia-link :href="route('admin.subject.index')">Ver</inertia-link>
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                    <v-col cols="4">
                        <v-card>
                            <v-img src="../../images/imagetest4.jpg" height="150" contain></v-img>
                            <v-card-title>
                                Temas o Cursos
                            </v-card-title>
                            <v-card-actions>
                                <v-btn text>
                                    <inertia-link :href="route('admin.topics.index')">Ver</inertia-link>
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-app>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout'
    import Welcome from '@/Jetstream/Welcome'

    export default {
        components: {
            AppLayout,
            Welcome,
        },
        data: ()=>({
            seen: true,
        }),
        mounted() {
            setTimeout(()=>{
                this.seen = false;
            }, 2000);
        }
    }
</script>
