@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
    .bg-green-jaquemate {
        background-color: #118509;
    }
    .bg-green-light-jaquemate {
        background-color: #CBEFB6;
    }
}
