<template>
    <app-layout>
        <v-app>
            <v-container>
                <v-row>
                    <v-col cols="12">
                        <alert-deportes-component :alert="alert" :color="alertColor" :icon="alertIcon" :alert-message="alertMessage">
                        </alert-deportes-component>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12">
                        <v-card>
                            <v-tabs grow icons-and-text>
                                <v-tab>
                                    Temas
                                    <v-icon>mdi-subtitles-outline</v-icon>
                                </v-tab>
                                <v-tab-item>
                                    <temas-table-component :temas="temas"></temas-table-component>
                                </v-tab-item>
                            </v-tabs>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-app>
    </app-layout>
</template>

<script>
    import AppLayout from "@/Layouts/AppLayout";
    import AlertDeportesComponent from "@/Layouts/shared-components/AlertDeportesComponent";
    import TemasTableComponent from "@/Pages/Admin/temas/temas-actions/TemasTableComponent";
    import {EventBus} from "@/app";
    export default {
        name: "TemasComponent",
        props: {
            temas: Array
        },
        data: ()=>{
            return {
                alert: false,
                alertColor: '',
                alertIcon: '',
                alertMessage: '',
            }
        },
        mounted() {
            console.log(this.temas);
            EventBus.$on('show-alert', (data)=>{
                this.alert = data.alert;
                this.alertColor = data.color;
                this.alertMessage = data.message;
                this.alertIcon = data.icon;
            });
        },
        components: {TemasTableComponent, AlertDeportesComponent, AppLayout}
    }
</script>

<style scoped>

</style>
