<template>
    <app-layout>
        <v-app>
            <v-container>
                <v-row>
                    <v-col>
                        <v-card>
                            <v-card-title>
                                <v-app-bar color="primary" dark style="max-height: 64px;">
                                Temas o Cursos 
                                <v-spacer></v-spacer>
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn v-bind="attrs" v-on="on" class="mx-2" fab dark small color="primary" @click="createSubjectTopic">
                                            <v-icon dark>
                                                mdi-plus
                                            </v-icon>
                                        </v-btn>
                                    </template>
                                    <span>Crear Materia</span>
                                </v-tooltip>
                                </v-app-bar>
                            </v-card-title>
                            <v-card-text>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
                <v-row>
                    <v-dialog v-model="modalDialog">
                        <v-card>
                            <v-card-title>Crear Tema o Curso.</v-card-title>

                            <v-card-text>
                                <v-form v-model="validForm" lazy-validation ref="form">
                                    <v-container>
                                        <v-row>
                                            <v-col cols="6">
                                                <v-row class="px-1">
                                                    <v-text-field label="Nombre" v-model="topic.name" :rules="[editTopicRules.required]"></v-text-field>
                                                </v-row>
                                                <v-row class="px-1">
                                                    <v-select :rules="[editTopicRules.required]" v-model="subjectSelect" :items="subjectList" item-value="id" item-text="name" label="Seleccione la Materia" return-object single-line></v-select>
                                                </v-row>
                                                <v-row class="px-1">
                                                    <v-textarea label="Descripción" v-model="topic.description" :rules="[editTopicRules.required]"></v-textarea>
                                                </v-row>
                                            </v-col>
                                            <v-col cols="6">
                                                <v-row class="px-1">
                                                    <v-text-field label="Url Video" v-model="topic.options.url_video" :rules="[editTopicRules.required]"></v-text-field>
                                                </v-row>
                                                <v-row class="px-1">
                                                    <v-text-field label="Url Image" v-model="topic.options.url_image" :rules="[editTopicRules.required]"></v-text-field>
                                                </v-row>
                                            </v-col>
                                        </v-row>
                                    </v-container>
                                </v-form>
                            </v-card-text>
                            <v-card-actions >
                                <v-spacer></v-spacer>
                                <v-btn text  @click="modalDialog = false">CANCELAR</v-btn>
                                <v-btn text color="primary " @click="storeTopic" :disabled="!validForm">ENVIAR</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-row>
            </v-container>
        </v-app>
    </app-layout>
</template>

<script>
    import AppLayout from "@/Layouts/AppLayout";
    import DialogModal from "@/Jetstream/DialogModal";
    export default {
        name: "SubjectTopicsComponent",
        components: {DialogModal, AppLayout},
        props:{
            topics: Array,
        },
        data: ()=>({
            modalDialog: false,
            validForm: true,
            topic: {
                subject_id: '',
                name: '',
                description: '',
                options: {url_video: '', url_image: ''}
            },
            editTopicRules: {
                required: value => !!value || 'required',
            },
            subjectList: [],
            subjectSelect: {},
        }),
        mounted(){
            console.log(this.topics);
            this.loadSubjects();
        },
        methods: {
            loadSubjects(){
                let url = '/admin/_subject';
                axios.get(url)
                    .then( resp => {
                        console.log(resp.data);
                        this.subjectList = resp.data;
                        //this.loader = false;
                    }).catch(e => {
                    console.log(JSON.stringify(e));
                })
            },
            createSubjectTopic(){
                this.modalDialog = true;
            },
            storeTopic(){
                this.topic.subject_id = this.subjectSelect.id;
                console.log(this.topic);

                if( this.$refs.form.validate() ){
                    let url = '/admin/topics';

                    axios.post( url, this.topic )
                    .then( resp => {
                        console.log(resp.data);
                    }).catch(e => {
                        console.log(JSON.stringify(e));
                    })
                }

            }
        }
    }
</script>

<style scoped>

</style>
