<template>
    <v-card>
        <v-card-title>
            Temas usadas para mostrar en el sitio.
            <v-spacer></v-spacer>
            <v-text-field
                class="mr-2"
                v-model="search"
                append-icon="mdi-magnify"
                label="Buscar"
                single-line
                hide-details
            ></v-text-field>
        </v-card-title>
        <v-data-table
            :headers="headers"
            :items="temas_list"
            :search="search"
            :loading="loader"
        >

            <template v-slot:item.actions="{ item }">
                <!--                <inertia-link :href="route('admin.users.edit',{id: item.id})">-->
                <v-icon small class="mr-2" @click="editarTema(item)">
                    mdi-pencil
                </v-icon>
                <!--                </inertia-link>-->
                <v-icon small class="mr-2">
                    mdi-delete
                </v-icon>
            </template>
            <template v-slot:no-data>
                <h4>No hay datos</h4>
            </template>
        </v-data-table>
        <dialog-modal :show="showModal" @close="cerrarEditTema" v-scroll>
            <template #title>Editar Post</template>
            <template #content>
                <v-card>
                    <v-card-text class="content-card-overflow">
                        <v-form ref="form" v-model="formValid" lazy-validation>
                            <v-row>
                                <v-col cols="6">
                                    <v-text-field v-model="editTema.nombre" label="Nombre" required></v-text-field>
                                </v-col>
                                <v-col cols="6">
                                    <v-text-field v-model="editTema.tipo" label="Tipo" required></v-text-field>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col cols="12">
                                    <v-textarea
                                        auto-grow
                                        label="Comentario"
                                        v-model="editTema.comentario"
                                        hint="Primer bloque de contenido, puede usar tags html para dar formato al texto."
                                        rows="3"
                                    >
                                    </v-textarea>
                                </v-col>
                                <v-col cols="12">
                                    <v-textarea
                                        auto-grow
                                        label="Comentario 1"
                                        v-model="editTema.comentario1"
                                        hint="Segundo bloque de contenido, puede usar tags html para dar formato al texto. "
                                        rows="3"
                                    >
                                    </v-textarea>
                                </v-col>
                                <v-col cols="12">
                                    <v-textarea
                                        auto-grow
                                        label="Comentario 2"
                                        v-model="editTema.comentario2"
                                        hint="Tercer bloque de contenido, puede usar tags html para dar formato al texto."
                                        rows="3"
                                    >
                                    </v-textarea>
                                </v-col>
                            </v-row>
                        </v-form>
                    </v-card-text>
                </v-card>
            </template>
            <template #footer>
                <v-row>
                    <v-col cols="12">
                        <v-btn elevation="2" @click="cerrarEditTema">CANCELAR</v-btn>
                        <v-btn elevation="2" @click="updateTema">ACTUALIZAR</v-btn>
                    </v-col>
                </v-row>
            </template>
        </dialog-modal>
    </v-card>
</template>

<script>
    import DialogModal from "@/Jetstream/DialogModal";
    import {EventBus} from "@/app";
    export default {
        name: "TemasTableComponent",
        components: {DialogModal},
        props: {
            temas: Array
        },
        data: () => {
            return {
                search: '',
                loader: true,
                temas_list: [],
                headers: [
                    { text: 'Id', value: 'id' },
                    { text: 'Nombre', value: 'nombre' },
                    { text: 'Tipo', value: 'tipo' },
                    {text: 'Actions', value: 'actions', sortable: false}
                ],
                showModal: false,
                formValid: false,
                editTema: {
                    id: '',
                    nombre: '',
                    tipo: '',
                    comentario: '',
                    comentario1: '',
                    comentario2: ''
                }
            }
        },
        mounted() {
            setTimeout( () => {
                this.loader = false;
                this.temas_list = this.temas;
            }, 3000 );
        },
        methods: {
            cargarTemas(){
                let url = '/admin/_temas';
                axios.get(url).then( res => {
                    console.log(res);
                })
                .catch( error => {
                    console.log(error);
                });
            },
            cerrarEditTema(){
                this.showModal = false;
                this.editTema = {
                    id: '',
                    nombre: '',
                    tipo: '',
                    comentario: '',
                    comentario1: '',
                    comentario2: ''
                };
            },
            editarTema(item){
                console.log(item);
                this.showModal = true;
                this.editTema = item;
            },
            updateTema(){
                console.log(this.editTema);
                let url = `/admin/temas/${this.editTema.id}`;
                axios.post(url, this.editTema)
                .then( res => {
                    console.log(res);
                    EventBus.$emit('show-alert', {
                        alert: true,
                        color: 'green',
                        message: `Se ha actualizado la información del tema o post ${res.data.nombre}`,
                        icon: 'mdi-check'
                    });
                    this.cerrarEditTema();
                    this.cargarTemas();
                }).catch( error => {
                    console.log(error);
                } )
            }
        }
    }
</script>

<style scoped>
    .content-card-overflow{
        max-height: 500px;
        overflow-y: auto;
    }
</style>
