<template>
    <app-layout>
        <v-app>
            <v-container>
                <v-row>
                    <v-col></v-col>
                </v-row>
                <v-row>
                    <v-col cols="12">
                        <v-card>
                            <v-card-title>
                                Materias
                                <v-spacer></v-spacer>
                                <v-text-field
                                    class="mr-2"
                                    v-model="search"
                                    append-icon="mdi-magnify"
                                    label="Buscar"
                                    single-line
                                    hide-details
                                ></v-text-field>

                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn v-bind="attrs" v-on="on" class="mx-2" fab dark small color="primary" @click="createSubject">
                                            <v-icon dark>
                                                mdi-plus
                                            </v-icon>
                                        </v-btn>
                                    </template>
                                    <span>Crear Materia</span>
                                </v-tooltip>
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn v-bind="attrs" v-on="on" class="mx-2" fab dark small color="secondary" @click="createCategory">
                                            <v-icon dark>
                                                mdi-star
                                            </v-icon>
                                        </v-btn>
                                    </template>
                                    <span>Crear Categoria</span>
                                </v-tooltip>
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn v-bind="attrs" v-on="on" class="mx-2" fab dark small color="secondary" @click="createSubCategory">
                                            <v-icon dark>
                                                mdi-star-circle
                                            </v-icon>
                                        </v-btn>
                                    </template>
                                    <span>Crear SubCategoria</span>
                                </v-tooltip>

                            </v-card-title>
                            <v-card-subtitle>Lista de Materias</v-card-subtitle>
                            <v-card-text>
                                <v-data-table :headers="headers" :items="subjectList" :search="search" :loading="loader">
                                    <template v-slot:item.actions="{ item }">
                                        <!--                <inertia-link :href="route('admin.users.edit',{id: item.id})">-->
                                        <v-icon small class="mr-2" @click="editSubject(item)">
                                            mdi-pencil
                                        </v-icon>
                                        <!--                </inertia-link>-->
                                        <v-icon small class="mr-2" @click="deleteSubject(item)">
                                            mdi-delete
                                        </v-icon>
                                    </template>

                                    <template v-slot:no-data>
                                        <h4>No hay datos</h4>
                                    </template>
                                </v-data-table>

                                <dialog-modal :show="showModal" @close="showModal = false">
                                    <template #title>
                                        Crear Materia
                                    </template>
                                    <template #content>
                                        <v-card>
                                            <v-card-text>
                                                <v-form v-model="validForm" lazy-validation ref="form">
                                                    <v-container>
                                                        <v-row>
                                                            <v-text-field label="Nombre" v-model="subjectToEdit.name" :rules="[editSubjectRules.required]"></v-text-field>
                                                        </v-row>
                                                        <v-row>
                                                            <v-select :rules="[editSubjectRules.required]" v-model="subCategorySelect" :items="subcategories" item-value="value" item-text="text" label="Seleccione la SubCategoria" return-object single-line></v-select>
                                                        </v-row>
                                                        <v-row>
                                                            <v-textarea label="Descripción" v-model="subjectToEdit.description" :rules="[editSubjectRules.required]"></v-textarea>
                                                        </v-row>
                                                        <v-row>
                                                            <v-checkbox
                                                                v-model="subjectToEdit.has_test"
                                                                label="Materia con Test"
                                                                value="si"
                                                            ></v-checkbox>
                                                        </v-row>
                                                    </v-container>
                                                </v-form>
                                            </v-card-text>
                                        </v-card>
                                    </template>
                                    <template #footer>
                                        <v-row>
                                            <v-col cols="12">
                                                <v-btn elevation="2" @click="showModal = false">CANCELAR</v-btn>
                                                <v-btn elevation="2" @click="storeSubject" :disabled="!validForm">ENVIAR</v-btn>
                                            </v-col>
                                        </v-row>
                                    </template>
                                </dialog-modal>

                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
                <v-row>
                    <create-category-component :categories="categories"></create-category-component>
                    <create-subcategory-component :categories="categories"></create-subcategory-component>
                </v-row>
            </v-container>
        </v-app>
    </app-layout>
</template>

<script>
    import AppLayout from "@/Layouts/AppLayout";
    import DialogModal from "@/Jetstream/DialogModal";
    import CreateCategoryComponent from "@/Pages/Admin/subject/category/CreateCategoryComponent";
    import {EventBus} from "@/app";
    import CreateSubcategoryComponent from "@/Pages/Admin/subject/subcategory/CreateSubcategoryComponent";
    export default {
        name: "SubjectComponent",
        props: {
            subjects: Array
        },
        mounted(){
            setTimeout( () => {
                this.loader = false;
            }, 3000);
            this.loadCategories();
            this.loadSubCategories();
            this.subjectList = this.subjects;
            EventBus.$on('subject-reload-categories', data => {
                this.loadCategories();
            });
        },
        data: () => ({
            validForm: true,
            search: '',
            loader: true,
            subjectList: [],
            headers:[
                {text: 'Id', value: 'id'},
                {text: 'Nombre', value: 'name'},
                {text: 'Descripción', value: 'description'},
                {text: 'Pruebas', value: 'has_test'},
                {text: 'Creado', value: 'created_at'},
                {text: 'Actions', value: 'actions', sortable: false}
            ],
            /*createModal*/
            showModal: false,
            subjectToEdit: {
                name: '',
                description: '',
                has_test: false,
                subcategoryId: ''
            },
            editSubjectRules: {
                required: value => !!value || 'required',
            },
            categories: [],
            subcategories: [],
            subCategorySelect: {},
        }),
        methods: {
            createSubject(){
                this.showModal = true;
            },
            editSubject(item){

            },
            storeSubject(){
                this.loader = true;
                let url = '/admin/subject';
                this.subjectToEdit.subcategoryId = this.subCategorySelect.value;
                //console.log(this.subjectToEdit);
                //console.log(this.$refs.form.validate());

                if( this.subjectToEdit.has_test ){
                    this.subjectToEdit.has_test = true;
                } else {
                    this.subjectToEdit.has_test = false;
                }

                if( this.$refs.form.validate() ){
                    //this.showModal = false;
                    axios.post(url, this.subjectToEdit)
                    .then( resp => {
                        console.log(resp);
                        this.showModal = false;
                        alert(`Se ha creado la materia ${resp.data.name}`);
                        this.loadSubjects();

                    }).catch( e => {
                        console.log(JSON.stringify(e));
                    });
                }
            },
            loadSubjects(){
                let url = '/admin/_subject';
                axios.get(url)
                .then( resp => {
                    console.log(resp.data);
                    this.subjectList = resp.data;
                    this.loader = false;
                }).catch(e => {
                    console.log(JSON.stringify(e));
                })
            },
            loadCategories(){
                let url = '/admin/category';

                axios.get(url).then( resp => {
                    this.categories = resp.data;
                }).catch( e => { console.log(e) });
            },
            loadSubCategories(){
                this.subcategories = [{ text: "Seleccione la Subcategoria", value: 0 }];
                let url = '/admin/sub-category';
                axios.get(url)
                .then( resp => {
                    // this.subcategories = resp.data;
                    resp.data.forEach( subcategory => {
                        this.subcategories.push({ text: subcategory.name, value: subcategory.id })
                    });
                })
                .catch( e => {
                    console.log(JSON.stringify(e));
                });
            },
            createCategory(){
                EventBus.$emit('subject-create-category');
            },
            createSubCategory(){
                EventBus.$emit('subject-create-sub-category');
            },
            deleteSubject( item ){
                let url = `/admin/subject/${item.id}/delete`;
                axios.get( url )
                    .then( resp =>{
                        console.log(JSON.stringify(resp));
                        alert(resp.data.message);
                        this.loadSubjects();
                    }).catch(e=>{
                    alert('Ha ocurrido un error intentelo nuevamente');
                });

            }
        },
        components:{CreateSubcategoryComponent, CreateCategoryComponent, AppLayout, DialogModal }
    }
</script>

<style scoped>
    button{
        border: none;
    }
</style>
