<template>
    <v-dialog v-model="dialog" max-width="500">
        <v-card>
            <v-card-title>
                Crear SubCategoría de una Materia
            </v-card-title>
            <v-card-text>
                <v-row>
                    <v-col>
                        <v-form v-model="validForm" lazy-validation ref="form">
                            <v-container>
                                <v-row>
                                    <v-text-field label="Nombre" v-model="subCategory.name"></v-text-field>
                                </v-row>
                                <v-row>
                                    <v-select v-model="categorySelect" :items="categoriesArray" item-value="value" item-text="text" label="Categoría" return-object single-line></v-select>
                                </v-row>
                                <v-row justify="center">
                                    <v-btn text color="primary" @click="storeSubCategory" :disabled="!validForm">GUARDAR</v-btn>
                                </v-row>
                            </v-container>
                        </v-form>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-simple-table>
                            <template v-slot:default>
                                <thead>
                                <tr>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Acciones
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="item in subcategoriesArray" :key="item.name">
                                    <td>
                                        {{ item.name }}
                                    </td>
                                    <td>
                                        <v-icon small class="mr-2">
                                            mdi-pencil
                                        </v-icon>
                                        <!--                </inertia-link>-->
                                        <v-icon small class="mr-2" @click="openDialogDelete(item.id)">
                                            mdi-delete
                                        </v-icon>
                                    </td>
                                </tr>
                                </tbody>
                            </template>
                        </v-simple-table>
                    </v-col>
                    <v-dialog
                        v-model="dialogDelete"
                        max-width="290"
                    >
                        <v-card>
                            <v-card-title class="text-h5">
                                Eliminar Dato.
                            </v-card-title>

                            <v-card-text>
                                ¿Desea eliminar la subcategoría?
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>

                                <v-btn
                                    color="green darken-1"
                                    text
                                    @click="dialogDelete = false"
                                >
                                    No
                                </v-btn>

                                <v-btn
                                    color="green darken-1"
                                    text
                                    @click="deleteSubcategory(idToDelete)"
                                >
                                    Si
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-row>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
    import {EventBus} from "@/app";

    export default {
        name: "CreateSubcategoryComponent",
        props:{
            categories: Array
        },
        data: ()=>({
            dialog: false,
            validForm: false,
            dialogDelete: false,
            categorySelect: {text: "Seleccione la Categoría", value: 0},
            categoriesArray: [],
            subcategoriesArray:[],
            subCategory:{
                name: '',
                category_id: ''
            },
            idToDelete: '',
        }),
        mounted() {
            EventBus.$on('subject-create-sub-category', data => {
                this.dialog = true;
                console.log(this.categories);
                this.makeCategories();
                this.loadSubCategories();
            });
        },
        methods: {
            loadSubCategories(){
                let url = '/admin/sub-category';
                axios.get(url)
                .then( resp => {
                    console.log(resp.data);
                    this.subcategoriesArray = resp.data;
                })
                .catch( error => {
                    console.log(JSON.stringify(error));
                });
            },
            makeCategories(){
                this.categoriesArray = [];
                this.categoriesArray.push({text: 'Seleccione la Categoría', value: 0});
                this.categories.forEach( category =>{
                    this.categoriesArray.push({text: category.name, value: category.id});
                });
            },
            storeSubCategory(){
                let url = '/admin/sub-category';
                if( this.$refs.form.validate() ){
                    this.subCategory.category_id = this.categorySelect.value;
                    axios.post( url, this.subCategory )
                    .then( resp => {
                        if( resp.status === 201 ){
                            alert( 'Se ha creado la subcategoría ' + resp.data.name );
                            this.dialog =false;
                        }
                    }).catch( e => {
                        console.log(JSON.stringify(e));
                    });
                }

            },
            openDialogDelete(id){
                this.dialogDelete = true;
                this.idToDelete = id;
            },
            deleteSubcategory( id ){
                if( id > 0 ){
                    let url = `/admin/subcategory/${id}/delete`;

                    axios.get(url)
                        .then( resp => {
                            console.log(resp);
                        })
                        .catch( error => {
                            console.log(JSON.stringify(error));
                        });
                } else {
                    alert( 'Se debe especificar la subcategoría a eliminar.' );
                }
            }
        }
    }
</script>

<style scoped>

</style>
