<template>
    <app-layout>
        <v-row>
            <v-col cols="12">
                <v-card>
                    <v-card-title>Editar Usuario</v-card-title>
                </v-card>
            </v-col>
        </v-row>
    </app-layout>
</template>

<script>
    import AppLayout from "../../../Layouts/AppLayout";
    export default {
        name: "EditUserComponent",
        props: {
            user: Object,
        },
        mounted() {
            console.log( this.$page );
        },
        components: {AppLayout}
    }
</script>

<style scoped>

</style>
