<template>
    <app-layout>
        <v-app>
            <v-container>
                <v-row>
                    <v-col cols="12">
                        <alert-deportes-component :alert="alert" :color="alertColor" :icon="alertIcon" :alert-message="alertMessage">
                        </alert-deportes-component>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12">
                        <v-card>
                            <v-tabs grow icons-and-text>
                                <v-tab>
                                    Usuarios
                                    <v-icon>mdi-account</v-icon>
                                </v-tab>
                                <v-tab-item>
                                    <users-table-component :users="users"></users-table-component>
                                </v-tab-item>
                                <v-tab>
                                    Roles
                                    <v-icon>mdi-star-circle</v-icon>
                                </v-tab>
                                <v-tab-item>
                                    <roles-component></roles-component>
                                </v-tab-item>
<!--                                <v-tab>-->
<!--                                    Permisos-->
<!--                                    <v-icon>mdi-account-cancel</v-icon>-->
<!--                                </v-tab>-->
<!--                                <v-tab-item></v-tab-item>-->
                            </v-tabs>
                        </v-card>
                    </v-col>
                </v-row>
<!--                <modal :show="showModal">-->
<!--                    <h1>Editar Usuario</h1>-->
<!--                </modal>-->

            </v-container>
        </v-app>
    </app-layout>
</template>

<script>
    import AppLayout from "@/Layouts/AppLayout";
    import RolesComponent from "@/Pages/Admin/users/roles/RolesComponent";
    import AlertDeportesComponent from "@/Layouts/shared-components/AlertDeportesComponent";
    import {EventBus} from "@/app";
    import UsersTableComponent from "@/Pages/Admin/users/users-actions/UsersTableComponent";
    import Modal from "@/Jetstream/Modal";
    import DialogModal from "@/Jetstream/DialogModal";
    export default {
        name: "UsersComponent",
        props: {
            users: Array
        },
        data: () => ({
            alert: false,
            alertColor: 'green',
            alertMessage: '',
            alertIcon: 'mdi-check',
            showModal: false
        }),
        mounted() {
            EventBus.$on('show-alert', (data)=>{
                this.alert = data.alert;
                this.alertColor = data.color;
                this.alertMessage = data.message;
                this.alertIcon = data.icon;
            });
            EventBus.$on('show-modal', (data)=>{
                this.showModal = true;
            });
        },
        components: {DialogModal, Modal, UsersTableComponent, AlertDeportesComponent, RolesComponent, AppLayout}
    }
</script>

<style scoped>

</style>
