<template>
    <v-dialog
        v-model="dialog"
        persistent
        max-width="500"
    >
        <v-card>
            <v-card-title>
                Agregar Usuario
            </v-card-title>
            <v-card-text>
                <v-form v-model="formCreateUser">
                    <v-container>
                        <v-row>
                            <v-col cols="12" sm="12" md="12" lg="12">
                                <v-text-field v-model="newUser.name" label="Nombre" prepend-icon="mdi-account" :rules="nameRules"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="12" md="12" lg="12">
                                <v-text-field v-model="newUser.email" label="Email" prepend-icon="mdi-email"></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12" sm="12" lg="12">
                                <v-select prepend-icon="mdi-key" v-model="newUser.rol" :items="roles" item-value="value" item-text="text" label="Roles" return-object single-line></v-select>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12" sm="12" lg="12">
                                <v-text-field v-model="newUser.password" label="Password" prepend-icon="mdi-lock"></v-text-field>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn text color="red" @click="closeDialog">Cancelar</v-btn>
                <v-btn text color="green" @click="createUser" :disabled="disabledButton">Guardar</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>


    import {EventBus} from "@/app";

    export default {
        name: "AddUserComponent",
        props: {
            roles: Array
        },
        data: () => ({
            formCreateUser: false,
            dialog: false,
            show1 : false,
            disabledButton: false,
            newUser: {
                name: '',
                email: '',
                password: '',
                rol: ''
            },
            userRol: '',
            rules: [
                value => !!value || 'Required.',
            ],
            nameRules: [
                value => !!value || 'Requerido',
            ]
        }),
        mounted() {
            EventBus.$on('open-add-user', (data) => {
                console.log('emit open-add-user');
                this.dialog = true;

                let url_generate_password = '/admin/generate_password';
                axios.get(url_generate_password )
                    .then( pass => {
                        if( pass.status === 200 ){
                            this.newUser.password = pass.data.password;
                        }
                    });
            });
        },
        methods: {
            closeDialog(){
                this.dialog = false;
            },
            createUser(){
                this.disabledButton = true;

                let url = '/admin/users';
                axios.post(url, this.newUser)
                .then( (res) => {
                    console.log(res);
                    //status created
                    if( res.status === 201 ){
                        this.disabledButton = false;
                        this.newUser.name = '';
                        this.newUser.email = '';
                        this.closeDialog();
                        EventBus.$emit('user-reload-list');
                    }
                }).catch( (error) => {
                    console.log(error);
                });
            }
        }
    }
</script>

<style scoped>

</style>
