<template>
    <v-card>
        <v-card-title>
            Lista de Usuarios
            <v-spacer></v-spacer>
            <v-text-field
                class="mr-2"
                v-model="search"
                append-icon="mdi-magnify"
                label="Buscar"
                single-line
                hide-details
            ></v-text-field>
            <v-btn class="mx-2" fab dark small color="primary" @click="openAddUser">
                <v-icon dark>
                    mdi-plus
                </v-icon>
            </v-btn>
        </v-card-title>
        <v-data-table
            :headers="headers"
            :items="usersList"
            :search="search"
            :loading="loader"
        >
            <template v-slot:item.actions="{ item }">
<!--                <inertia-link :href="route('admin.users.edit',{id: item.id})">-->
                    <v-icon small class="mr-2" @click="goToEdit(item)">
                        mdi-pencil
                    </v-icon>
<!--                </inertia-link>-->
                <v-icon small class="mr-2">
                    mdi-delete
                </v-icon>
                <v-tooltip right>
                    <template v-slot:activator="{ on, attrs }">
                        <v-icon small class="mr-2" v-bind="attrs" v-on="on" @click="sendVerificationMail(item)">
                            mdi-email
                        </v-icon>
                    </template>
                    <span>Reenviar verificación de correo</span>
                </v-tooltip>
            </template>

            <template v-slot:no-data>
                <h4>No hay datos</h4>
            </template>
        </v-data-table>
<!--        <add-user-component></add-user-component>-->
<!--        <dialog-modal></dialog-modal>-->
        <dialog-modal :show="showModal" @close="showModal = false">
            <template #title>
                Editar Usuario
            </template>
            <template #content>
                <v-form>
                    <v-container>
                        <v-row>
                            <v-col cols="12">
                                <v-text-field label="Nombre" v-model="editUser.name" :rules="[editUserRules.required]"></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-select v-model="rolSelect" :items="roles" item-value="value" item-text="text" label="Roles" return-object single-line></v-select>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-form>
            </template>
            <template #footer>
                <v-row>
                    <v-col cols="12">
                        <v-btn elevation="2" @click="showModal = false">CANCELAR</v-btn>
                        <v-btn elevation="2" @click="updateUser">ACTUALIZAR</v-btn>
                    </v-col>
                </v-row>
            </template>
        </dialog-modal>
        <add-user-component :roles="roles"></add-user-component>
    </v-card>
</template>

<script>
    import {EventBus} from "@/app";
    import AddUserComponent from "@/Pages/Admin/users/users-actions/AddUserComponent";
    import DialogModal from "@/Jetstream/DialogModal";

    export default {
        name: "UsersTableComponent",
        components: {DialogModal, AddUserComponent},
        props: {
            users: Array
        },
        data: () => ({
            search: '',
            usersList: [],
            headers:[
                {text: 'Id', value: 'id'},
                {text: 'Nombre', value: 'name'},
                {text: 'Email', value: 'email'},
                {text: 'Rol', value: 'roles'},
                {text: 'Actions', value: 'actions', sortable: false}
            ],
            loader: true,
            showModal: false,
            editUser: {
                name:'',
                roles: ''
            },
            editUserRules: {
                required: value => !!value || 'required',
            },
            roles: [{text: 'Seleccione Rol', value: 0}],
            rolSelect: {text: 'Seleccione Rol', value: 0},
        }),
        mounted() {
            setTimeout(()=>{
                this.loader = false;
            }, 1000);

            this.loadUsers();

            EventBus.$on('user-reload-list', ( )=>{
                this.loadUsers();
            });

            this.loadRoles();
        },
        methods: {
            openAddUser(){
                console.log( 'click open add user' );
                EventBus.$emit('open-add-user');
            },
            loadUsers(){
                let url = '/admin/_users';
                axios.get(url)
                .then( (res) =>{
                    let users = res.data;
                    let usersArray = [];
                    /**
                     * Se recorren los usuarios y luego se actualiza el rol con el nombre.
                     */
                    users.forEach( user => {
                        console.log(user);
                        const rol = ( user.roles.length != 0 ) ? user.roles[0].name : "No Rol";
                        user.roles = rol;
                        usersArray.push(user);
                    });

                    this.usersList = usersArray;
                    console.log(this.usersList);

                }).catch( (error) =>{
                    console.log(error);
                });
            },
            loadRoles(){
                let url = '/admin/roles';
                axios.get( url ).then( resp => {

                    resp.data.data.forEach( rol => {
                        console.log(rol);
                        this.roles.push({'text': rol.name, 'value': rol.id});
                    });

                }).catch( error => {
                    console.log(error);
                } )
            },
            goToEdit( item ){
                //EventBus.$emit('show-modal');
                this.showModal = true;
                this.editUser = item;
                let _rolesV = [];

                // if( this.editUser.roles.length > 0 ){
                //     this.editUser.roles.forEach( rol => {
                //         _rolesV.push(rol.name);
                //     });
                //     this.roles = _rolesV;
                // }
            },
            updateUser(){
                this.editUser.rol = this.rolSelect.text;
                let url = `/admin/users/${this.editUser.id}`;
                if( this.editUser.name.trim() !== '' && this.editUser.roles !== 'Seleccione Rol' ){
                    console.log(this.editUser);
                    axios.post(url, this.editUser).then( resp => {
                        /**Un status 200 significa que se actualizo la información*/
                        if( resp.status === 200 ){
                            this.showModal =  false;
                            /*Se muestra el mensaje de alerta*/
                            EventBus.$emit('show-alert', {
                                alert: true,
                                color: 'green',
                                message: 'Se han actualizado los datos del usuario seleccionado',
                                icon: 'mdi-check'
                            });
                            /*Se recargan los usuarios*/
                            this.loadUsers();
                        }
                    }).catch(error => {
                        console.log(error);

                    })
                } else {
                    alert('revise los campos por favor');
                }
            },
            sendVerificationMail( user ){
                let url = '/admin/send/verification_mail';

                axios.post(url,{'mail': user.email})
                .then( resp => {
                    console.log(resp);
                } ).catch( error => {
                    console.log(error);
                } );
                console.log(user);
            }
        }
    }
</script>

<style scoped>

</style>
